.idea/*
*.log
wp-config.php
wp-content/upgrade/
wp-content/uploads/
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/wp-admin/
/wp-content/themes/
/wp-content/index.php
/wp-includes/
/wp-mail.php
/wp-trackback.php
/wp-cron.php
/wp-login.php
/index.php
/wp-links-opml.php
/wp-content/plugins/index.php
/wp-activate.php
/wp-config-sample.php
/wp-settings.php
/wp-signup.php
/wp-load.php
/wp-content/plugins/akismet/
/wp-blog-header.php
/wp-comments-post.php
/xmlrpc.php
